*.tgz
.editorconfig
.eslintrc.js
.eslintcache
.nyc_output/
.stylelintignore
.travis.yml
.vscode/
appveyor.yml
coverage/
examples/**/dist/
examples/**/node_modules/
jest.config.js
node_modules/
package-lock.json
src/
stylelint.config.js
temp/
test/
types/
